body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 8px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3b3b3;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b3b3b3;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #b3b3b3;
}

/* ant-popover-reset */
.ant-popover.popover-menu {
  padding-top: 30px;
}
.ant-popover.popover-menu .ant-popover-inner-content {
  padding: 8px;
}
.ant-popover-arrow {
  display: none;
}
@media (max-width: 1024px) {
  .ant-popover.popover-menu {
    padding-bottom: 13px;
  }
}

/* ant-select-reset */
.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #00cc9b
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #00cc9b
}
